
.active-route {

    backdrop-filter: blur(2px); /* Apply blur */
    -webkit-backdrop-filter: blur(2px); /* Apply blur for WebKit browsers */
    color: #F5A425; /* Change text color */
    border: #F5A425 2px solid;
  } 
  
.glassmorph:hover {
    background-color: rgba(245, 164, 37, 0.2); /* Faded background color */
    backdrop-filter: blur(2px); /* Apply blur on hover */
    -webkit-backdrop-filter: blur(2px); /* Apply blur on hover for WebKit browsers */
    color: #F5A425; /* Change text color */
    transition: background-color 0.1s ease-in-out, backdrop-filter 0.3s ease-in-out, -webkit-backdrop-filter 0.3s ease-in-out, color 0.1s ease-in-out;
}

/* Additional class to reset the transition duration */
.glassmorph:not(:hover) {
    transition: background-color 1.5s ease-in-out, backdrop-filter 1s ease-in-out, -webkit-backdrop-filter 1s ease-in-out, color 1.5s ease-in-out;
}


.glassmorphism{
    color: #d9d9d949;
}


.sidebar-text {
    transition: opacity 0.3s ease-in-out;
}

.sidebar-hover-text {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.group:hover .sidebar-hover-text {
    opacity: 1;
}



.scroll-none::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .scroll-none {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }


  