<div class="w-full h-full relative">
    <div class="w-full  h-full flex flex-col gap-4 justify-center items-center">
        <div class="w-full h-full flex flex-col justify-start items-start gap-4 max-w-screen-lg">
            <div class="w-full h-fit overflow-visible relative justify-end items-center flex">
                <button (click)="showDropDown()" class="w-36 capitalize bg-primary-tw rounded-lg text-primary-text-tw py-1.5
                 hover:bg-secondary-tw flex flex-row justify-center items-center duration-300">
                    <iconify-icon icon="tdesign:plus" width="25" height="25"></iconify-icon> create class
                </button>
                @if (dropDown) {
                <div @fadeAnimation (clickOutside)="closeDropDown()"
                    class="absolute top-10 right-0 w-56 bg-white rounded-lg shadow-lg overflow-hidden z-50 border py-4 px-4 border-gray-200">
                    @for (item of dropDownList; track $index) {
                    <button (click)="openModal(item.id)"
                        class="block w-full text-left px-4 py-3 text-sm text-gray-700 hover:bg-gray-200 hover:text-secondary-tw">
                        {{item.name}}
                    </button>

                    }
                </div>

                }
            </div>
            <div class="w-full h-full flex flex-col gap-4 overflow-y-auto">
                <div
                    class="w-full h-fit flex flex-row gap-4 justify-start items-center bg-white border border-gray-300 rounded-lg p-4 relative">
                    <img class="w-12" src="/assets/images/manage-class/group.png" alt="">
                    <div class="flex flex-col">
                        <h1 class="font-semibold">Task no.1</h1>
                        <p class="text-sm text-gray-700">Due August 22, 2022 11:59 PM</p>
                    </div>
                    <iconify-icon class="absolute top-2 right-2 text-secondary-text-tw cursor-pointer"
                        icon="tabler:dots-vertical" width="25" height="25"></iconify-icon>
                </div>
            </div>
        </div>

    </div>
    <!-- classwork modals -->

    @if (showModal[1]) {
    <div @fadeAnimation class="absolute top-0 left-0 z-[100] w-full h-full">
        <div class="flex justify-center items-center z-[100] w-full h-full">
            <div class="w-full h-full">
                <app-class-work-assignment (closeModal)="closeModal(1)"></app-class-work-assignment>
            </div>
        </div>
    </div>
    }
    @if (showModal[2]) {
    <div @fadeAnimation class="absolute top-0 left-0 z-[100] w-full h-full">
        <div class="flex justify-center items-center z-[100] w-full h-full">
            <div class="w-full h-full">
                <app-class-work-quiz (closeModal)="closeModal(2)"></app-class-work-quiz>
            </div>
        </div>
    </div>
    }
    @if (showModal[3]) {
    <div @fadeAnimation class="absolute top-0 left-0 z-[100] w-full h-full border-2 border-black">
        <div class="flex justify-center items-center z-[100] w-full h-full">
            <div class="w-full h-full">
                <app-class-work-evaluation (closeModal)="closeModal(3)"></app-class-work-evaluation>
            </div>
        </div>
    </div>
    }
</div>