<section class="flex flex-col items-start px-5 pt-5 rounded-3xl bg-slate-800 pb-[20px] max-md:pb-24">
    <div class="flex flex-wrap gap-10 justify-center items-center max-w-full w-full px-20">
      <nav class="flex gap-10 items-center self-stretch my-auto min-w-[240px] max-md:max-w-full">
        <button class="flex gap-2 px-2.5 py-3 rounded-md bg-slate-800 text-sm font-semibold text-center text-white whitespace-nowrap shadow-[4px_4px_4px_4px_rgba(0,0,0,0.25)] w-[92px] hover:bg-[#bd8a1d] transition-colors duration-300">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/50e02dbc2b2121ddb10445a03a6e1b2f94db88f067c7c49341243a5e3b44d50d?apiKey=377401e3604042c7b3deecb062253d04&&apiKey=377401e3604042c7b3deecb062253d04" alt="Decorative icon" class="object-contain w-full aspect-[1.57] max-w-[25px]"/>
            <span>1v1</span>
        </button>
        <button class="flex gap-2 px-2.5 py-3 rounded-md bg-slate-800 text-sm font-semibold text-center text-white whitespace-nowrap shadow-[4px_4px_4px_4px_rgba(0,0,0,0.25)] w-[92px] hover:bg-[#bd8a1d] transition-colors duration-300">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/50e02dbc2b2121ddb10445a03a6e1b2f94db88f067c7c49341243a5e3b44d50d?apiKey=377401e3604042c7b3deecb062253d04&&apiKey=377401e3604042c7b3deecb062253d04" alt="" class="object-contain shrink-0 self-start aspect-[1.57] w-[25px]" />
          <span>Group</span>
        </button>
        <button class="flex gap-3 px-3.5 py-2.5 rounded-md bg-slate-800 text-sm font-semibold text-center shadow-[4px_4px_4px_4px_rgba(0,0,0,0.25)] text-white w-[183px] hover:bg-[#bd8a1d] transition-colors duration-300">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/da1b4e3d79d8c86fd94c892afb9d4a77b33b5efb2b86b1a92e3ceaa27ffc84b1?apiKey=377401e3604042c7b3deecb062253d04&&apiKey=377401e3604042c7b3deecb062253d04" alt="" class="object-contain shrink-0 self-start aspect-[1.38] w-[22px]" />
          <span class="grow shrink w-[118px]">Custom Selection</span>
        </button>
      </nav>
    </div>
    <div class="flex flex-wrap gap-10 justify-left items-center max-w-full w-[945px] pt-[35px]">
      <button class="flex gap-3.5 px-3 py-2.5 rounded-md bg-slate-800 text-sm font-semibold text-center shadow-[4px_4px_4px_4px_rgba(0,0,0,0.25)] text-white w-[153px] hover:bg-[#bd8a1d] transition-colors duration-300">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/864227636b40a5bc6e69012ff7ecb57972d004db28d499c21578efceef63c425?apiKey=377401e3604042c7b3deecb062253d04&&apiKey=377401e3604042c7b3deecb062253d04" alt="" class="object-contain shrink-0 aspect-[0.95] w-[19px]" />
          <span>Manage Units</span>
      </button>
    </div>
    <div class="grid grid-cols-10 gap-6 py-10 w-full">
        <div class="flex flex-col items-center text-xs max-w-[97px]">
          <header class="font-semibold text-white">Student Name</header>
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3d881712a49ea673b51d6902faeb5c5cff35d79b46d8b10f4be158d3d387a001?apiKey=377401e3604042c7b3deecb062253d04&&apiKey=377401e3604042c7b3deecb062253d04" class="object-contain self-stretch mt-1.5 w-full aspect-[1.47]" alt="Student photo" />
          <footer class="text-center text-white">Student ID</footer>
        </div>
        <div class="flex flex-col items-center text-xs max-w-[97px]">
          <header class="font-semibold text-white">Student Name</header>
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3d881712a49ea673b51d6902faeb5c5cff35d79b46d8b10f4be158d3d387a001?apiKey=377401e3604042c7b3deecb062253d04&&apiKey=377401e3604042c7b3deecb062253d04" class="object-contain self-stretch mt-1.5 w-full aspect-[1.47]" alt="Student photo" />
          <footer class="text-center text-white">Student ID</footer>
        </div>
        <div class="flex flex-col items-center text-xs max-w-[97px]">
            <header class="font-semibold text-white">Student Name</header>
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3d881712a49ea673b51d6902faeb5c5cff35d79b46d8b10f4be158d3d387a001?apiKey=377401e3604042c7b3deecb062253d04&&apiKey=377401e3604042c7b3deecb062253d04" class="object-contain self-stretch mt-1.5 w-full aspect-[1.47]" alt="Student photo" />
            <footer class="text-center text-white">Student ID</footer>
          </div>
          <div class="flex flex-col items-center text-xs max-w-[97px]">
            <header class="font-semibold text-white">Student Name</header>
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3d881712a49ea673b51d6902faeb5c5cff35d79b46d8b10f4be158d3d387a001?apiKey=377401e3604042c7b3deecb062253d04&&apiKey=377401e3604042c7b3deecb062253d04" class="object-contain self-stretch mt-1.5 w-full aspect-[1.47]" alt="Student photo" />
            <footer class="text-center text-white">Student ID</footer>
          </div>
          <div class="flex flex-col items-center text-xs max-w-[97px]">
            <header class="font-semibold text-white">Student Name</header>
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3d881712a49ea673b51d6902faeb5c5cff35d79b46d8b10f4be158d3d387a001?apiKey=377401e3604042c7b3deecb062253d04&&apiKey=377401e3604042c7b3deecb062253d04" class="object-contain self-stretch mt-1.5 w-full aspect-[1.47]" alt="Student photo" />
            <footer class="text-center text-white">Student ID</footer>
          </div>
          <div class="flex flex-col items-center text-xs max-w-[97px]">
            <header class="font-semibold text-white">Student Name</header>
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3d881712a49ea673b51d6902faeb5c5cff35d79b46d8b10f4be158d3d387a001?apiKey=377401e3604042c7b3deecb062253d04&&apiKey=377401e3604042c7b3deecb062253d04" class="object-contain self-stretch mt-1.5 w-full aspect-[1.47]" alt="Student photo" />
            <footer class="text-center text-white">Student ID</footer>
          </div>
          <div class="flex flex-col items-center text-xs max-w-[97px]">
            <header class="font-semibold text-white">Student Name</header>
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3d881712a49ea673b51d6902faeb5c5cff35d79b46d8b10f4be158d3d387a001?apiKey=377401e3604042c7b3deecb062253d04&&apiKey=377401e3604042c7b3deecb062253d04" class="object-contain self-stretch mt-1.5 w-full aspect-[1.47]" alt="Student photo" />
            <footer class="text-center text-white">Student ID</footer>
          </div>
          <div class="flex flex-col items-center text-xs max-w-[97px]">
            <header class="font-semibold text-white">Student Name</header>
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3d881712a49ea673b51d6902faeb5c5cff35d79b46d8b10f4be158d3d387a001?apiKey=377401e3604042c7b3deecb062253d04&&apiKey=377401e3604042c7b3deecb062253d04" class="object-contain self-stretch mt-1.5 w-full aspect-[1.47]" alt="Student photo" />
            <footer class="text-center text-white">Student ID</footer>
          </div>
          <div class="flex flex-col items-center text-xs max-w-[97px]">
            <header class="font-semibold text-white">Student Name</header>
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3d881712a49ea673b51d6902faeb5c5cff35d79b46d8b10f4be158d3d387a001?apiKey=377401e3604042c7b3deecb062253d04&&apiKey=377401e3604042c7b3deecb062253d04" class="object-contain self-stretch mt-1.5 w-full aspect-[1.47]" alt="Student photo" />
            <footer class="text-center text-white">Student ID</footer>
          </div>
          <div class="flex flex-col items-center text-xs max-w-[97px]">
            <header class="font-semibold text-white">Student Name</header>
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3d881712a49ea673b51d6902faeb5c5cff35d79b46d8b10f4be158d3d387a001?apiKey=377401e3604042c7b3deecb062253d04&&apiKey=377401e3604042c7b3deecb062253d04" class="object-contain self-stretch mt-1.5 w-full aspect-[1.47]" alt="Student photo" />
            <footer class="text-center text-white">Student ID</footer>
          </div>
          <div class="flex flex-col items-center text-xs max-w-[97px]">
            <header class="font-semibold text-white">Student Name</header>
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3d881712a49ea673b51d6902faeb5c5cff35d79b46d8b10f4be158d3d387a001?apiKey=377401e3604042c7b3deecb062253d04&&apiKey=377401e3604042c7b3deecb062253d04" class="object-contain self-stretch mt-1.5 w-full aspect-[1.47]" alt="Student photo" />
            <footer class="text-center text-white">Student ID</footer>
          </div>
          <div class="flex flex-col items-center text-xs max-w-[97px]">
            <header class="font-semibold text-white">Student Name</header>
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3d881712a49ea673b51d6902faeb5c5cff35d79b46d8b10f4be158d3d387a001?apiKey=377401e3604042c7b3deecb062253d04&&apiKey=377401e3604042c7b3deecb062253d04" class="object-contain self-stretch mt-1.5 w-full aspect-[1.47]" alt="Student photo" />
            <footer class="text-center text-white">Student ID</footer>
          </div>
          <div class="flex flex-col items-center text-xs max-w-[97px]">
            <header class="font-semibold text-white">Student Name</header>
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3d881712a49ea673b51d6902faeb5c5cff35d79b46d8b10f4be158d3d387a001?apiKey=377401e3604042c7b3deecb062253d04&&apiKey=377401e3604042c7b3deecb062253d04" class="object-contain self-stretch mt-1.5 w-full aspect-[1.47]" alt="Student photo" />
            <footer class="text-center text-white">Student ID</footer>
          </div>
          <div class="flex flex-col items-center text-xs max-w-[97px]">
            <header class="font-semibold text-white">Student Name</header>
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3d881712a49ea673b51d6902faeb5c5cff35d79b46d8b10f4be158d3d387a001?apiKey=377401e3604042c7b3deecb062253d04&&apiKey=377401e3604042c7b3deecb062253d04" class="object-contain self-stretch mt-1.5 w-full aspect-[1.47]" alt="Student photo" />
            <footer class="text-center text-white">Student ID</footer>
          </div>
          <div class="flex flex-col items-center text-xs max-w-[97px]">
            <header class="font-semibold text-white">Student Name</header>
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3d881712a49ea673b51d6902faeb5c5cff35d79b46d8b10f4be158d3d387a001?apiKey=377401e3604042c7b3deecb062253d04&&apiKey=377401e3604042c7b3deecb062253d04" class="object-contain self-stretch mt-1.5 w-full aspect-[1.47]" alt="Student photo" />
            <footer class="text-center text-white">Student ID</footer>
          </div>
          <div class="flex flex-col items-center text-xs max-w-[97px]">
            <header class="font-semibold text-white">Student Name</header>
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3d881712a49ea673b51d6902faeb5c5cff35d79b46d8b10f4be158d3d387a001?apiKey=377401e3604042c7b3deecb062253d04&&apiKey=377401e3604042c7b3deecb062253d04" class="object-contain self-stretch mt-1.5 w-full aspect-[1.47]" alt="Student photo" />
            <footer class="text-center text-white">Student ID</footer>
          </div>
          <div class="flex flex-col items-center text-xs max-w-[97px]">
            <header class="font-semibold text-white">Student Name</header>
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3d881712a49ea673b51d6902faeb5c5cff35d79b46d8b10f4be158d3d387a001?apiKey=377401e3604042c7b3deecb062253d04&&apiKey=377401e3604042c7b3deecb062253d04" class="object-contain self-stretch mt-1.5 w-full aspect-[1.47]" alt="Student photo" />
            <footer class="text-center text-white">Student ID</footer>
          </div>
          <div class="flex flex-col items-center text-xs max-w-[97px]">
            <header class="font-semibold text-white">Student Name</header>
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3d881712a49ea673b51d6902faeb5c5cff35d79b46d8b10f4be158d3d387a001?apiKey=377401e3604042c7b3deecb062253d04&&apiKey=377401e3604042c7b3deecb062253d04" class="object-contain self-stretch mt-1.5 w-full aspect-[1.47]" alt="Student photo" />
            <footer class="text-center text-white">Student ID</footer>
          </div>
          <div class="flex flex-col items-center text-xs max-w-[97px]">
            <header class="font-semibold text-white">Student Name</header>
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3d881712a49ea673b51d6902faeb5c5cff35d79b46d8b10f4be158d3d387a001?apiKey=377401e3604042c7b3deecb062253d04&&apiKey=377401e3604042c7b3deecb062253d04" class="object-contain self-stretch mt-1.5 w-full aspect-[1.47]" alt="Student photo" />
            <footer class="text-center text-white">Student ID</footer>
          </div>
          <div class="flex flex-col items-center text-xs max-w-[97px]">
            <header class="font-semibold text-white">Student Name</header>
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3d881712a49ea673b51d6902faeb5c5cff35d79b46d8b10f4be158d3d387a001?apiKey=377401e3604042c7b3deecb062253d04&&apiKey=377401e3604042c7b3deecb062253d04" class="object-contain self-stretch mt-1.5 w-full aspect-[1.47]" alt="Student photo" />
            <footer class="text-center text-white">Student ID</footer>
          </div>
          <div class="flex flex-col items-center text-xs max-w-[97px]">
            <header class="font-semibold text-white">Student Name</header>
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3d881712a49ea673b51d6902faeb5c5cff35d79b46d8b10f4be158d3d387a001?apiKey=377401e3604042c7b3deecb062253d04&&apiKey=377401e3604042c7b3deecb062253d04" class="object-contain self-stretch mt-1.5 w-full aspect-[1.47]" alt="Student photo" />
            <footer class="text-center text-white">Student ID</footer>
          </div>
          <div class="flex flex-col items-center text-xs max-w-[97px]">
            <header class="font-semibold text-white">Student Name</header>
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3d881712a49ea673b51d6902faeb5c5cff35d79b46d8b10f4be158d3d387a001?apiKey=377401e3604042c7b3deecb062253d04&&apiKey=377401e3604042c7b3deecb062253d04" class="object-contain self-stretch mt-1.5 w-full aspect-[1.47]" alt="Student photo" />
            <footer class="text-center text-white">Student ID</footer>
          </div>
          <div class="flex flex-col items-center text-xs max-w-[97px]">
            <header class="font-semibold text-white">Student Name</header>
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3d881712a49ea673b51d6902faeb5c5cff35d79b46d8b10f4be158d3d387a001?apiKey=377401e3604042c7b3deecb062253d04&&apiKey=377401e3604042c7b3deecb062253d04" class="object-contain self-stretch mt-1.5 w-full aspect-[1.47]" alt="Student photo" />
            <footer class="text-center text-white">Student ID</footer>
          </div>
          <div class="flex flex-col items-center text-xs max-w-[97px]">
            <header class="font-semibold text-white">Student Name</header>
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3d881712a49ea673b51d6902faeb5c5cff35d79b46d8b10f4be158d3d387a001?apiKey=377401e3604042c7b3deecb062253d04&&apiKey=377401e3604042c7b3deecb062253d04" class="object-contain self-stretch mt-1.5 w-full aspect-[1.47]" alt="Student photo" />
            <footer class="text-center text-white">Student ID</footer>
          </div>
          <div class="flex flex-col items-center text-xs max-w-[97px]">
            <header class="font-semibold text-white">Student Name</header>
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3d881712a49ea673b51d6902faeb5c5cff35d79b46d8b10f4be158d3d387a001?apiKey=377401e3604042c7b3deecb062253d04&&apiKey=377401e3604042c7b3deecb062253d04" class="object-contain self-stretch mt-1.5 w-full aspect-[1.47]" alt="Student photo" />
            <footer class="text-center text-white">Student ID</footer>
          </div>
          <div class="flex flex-col items-center text-xs max-w-[97px]">
            <header class="font-semibold text-white">Student Name</header>
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3d881712a49ea673b51d6902faeb5c5cff35d79b46d8b10f4be158d3d387a001?apiKey=377401e3604042c7b3deecb062253d04&&apiKey=377401e3604042c7b3deecb062253d04" class="object-contain self-stretch mt-1.5 w-full aspect-[1.47]" alt="Student photo" />
            <footer class="text-center text-white">Student ID</footer>
          </div>
          <div class="flex flex-col items-center text-xs max-w-[97px]">
            <header class="font-semibold text-white">Student Name</header>
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3d881712a49ea673b51d6902faeb5c5cff35d79b46d8b10f4be158d3d387a001?apiKey=377401e3604042c7b3deecb062253d04&&apiKey=377401e3604042c7b3deecb062253d04" class="object-contain self-stretch mt-1.5 w-full aspect-[1.47]" alt="Student photo" />
            <footer class="text-center text-white">Student ID</footer>
          </div>
          <div class="flex flex-col items-center text-xs max-w-[97px]">
            <header class="font-semibold text-white">Student Name</header>
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3d881712a49ea673b51d6902faeb5c5cff35d79b46d8b10f4be158d3d387a001?apiKey=377401e3604042c7b3deecb062253d04&&apiKey=377401e3604042c7b3deecb062253d04" class="object-contain self-stretch mt-1.5 w-full aspect-[1.47]" alt="Student photo" />
            <footer class="text-center text-white">Student ID</footer>
          </div>
          <div class="flex flex-col items-center text-xs max-w-[97px]">
            <header class="font-semibold text-white">Student Name</header>
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3d881712a49ea673b51d6902faeb5c5cff35d79b46d8b10f4be158d3d387a001?apiKey=377401e3604042c7b3deecb062253d04&&apiKey=377401e3604042c7b3deecb062253d04" class="object-contain self-stretch mt-1.5 w-full aspect-[1.47]" alt="Student photo" />
            <footer class="text-center text-white">Student ID</footer>
          </div>
          <div class="flex flex-col items-center text-xs max-w-[97px]">
            <header class="font-semibold text-white">Student Name</header>
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3d881712a49ea673b51d6902faeb5c5cff35d79b46d8b10f4be158d3d387a001?apiKey=377401e3604042c7b3deecb062253d04&&apiKey=377401e3604042c7b3deecb062253d04" class="object-contain self-stretch mt-1.5 w-full aspect-[1.47]" alt="Student photo" />
            <footer class="text-center text-white">Student ID</footer>
          </div>
          <div class="flex flex-col items-center text-xs max-w-[97px]">
            <header class="font-semibold text-white">Student Name</header>
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3d881712a49ea673b51d6902faeb5c5cff35d79b46d8b10f4be158d3d387a001?apiKey=377401e3604042c7b3deecb062253d04&&apiKey=377401e3604042c7b3deecb062253d04" class="object-contain self-stretch mt-1.5 w-full aspect-[1.47]" alt="Student photo" />
            <footer class="text-center text-white">Student ID</footer>
          </div>
          <div class="flex flex-col items-center text-xs max-w-[97px]">
            <header class="font-semibold text-white">Student Name</header>
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3d881712a49ea673b51d6902faeb5c5cff35d79b46d8b10f4be158d3d387a001?apiKey=377401e3604042c7b3deecb062253d04&&apiKey=377401e3604042c7b3deecb062253d04" class="object-contain self-stretch mt-1.5 w-full aspect-[1.47]" alt="Student photo" />
            <footer class="text-center text-white">Student ID</footer>
          </div>
          <div class="flex flex-col items-center text-xs max-w-[97px]">
            <header class="font-semibold text-white">Student Name</header>
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3d881712a49ea673b51d6902faeb5c5cff35d79b46d8b10f4be158d3d387a001?apiKey=377401e3604042c7b3deecb062253d04&&apiKey=377401e3604042c7b3deecb062253d04" class="object-contain self-stretch mt-1.5 w-full aspect-[1.47]" alt="Student photo" />
            <footer class="text-center text-white">Student ID</footer>
          </div>
          <div class="flex flex-col items-center text-xs max-w-[97px]">
            <header class="font-semibold text-white">Student Name</header>
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3d881712a49ea673b51d6902faeb5c5cff35d79b46d8b10f4be158d3d387a001?apiKey=377401e3604042c7b3deecb062253d04&&apiKey=377401e3604042c7b3deecb062253d04" class="object-contain self-stretch mt-1.5 w-full aspect-[1.47]" alt="Student photo" />
            <footer class="text-center text-white">Student ID</footer>
          </div>
          <div class="flex flex-col items-center text-xs max-w-[97px]">
            <header class="font-semibold text-white">Student Name</header>
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3d881712a49ea673b51d6902faeb5c5cff35d79b46d8b10f4be158d3d387a001?apiKey=377401e3604042c7b3deecb062253d04&&apiKey=377401e3604042c7b3deecb062253d04" class="object-contain self-stretch mt-1.5 w-full aspect-[1.47]" alt="Student photo" />
            <footer class="text-center text-white">Student ID</footer>
          </div>
          <div class="flex flex-col items-center text-xs max-w-[97px]">
            <header class="font-semibold text-white">Student Name</header>
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3d881712a49ea673b51d6902faeb5c5cff35d79b46d8b10f4be158d3d387a001?apiKey=377401e3604042c7b3deecb062253d04&&apiKey=377401e3604042c7b3deecb062253d04" class="object-contain self-stretch mt-1.5 w-full aspect-[1.47]" alt="Student photo" />
            <footer class="text-center text-white">Student ID</footer>
          </div>
          <div class="flex flex-col items-center text-xs max-w-[97px]">
            <header class="font-semibold text-white">Student Name</header>
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3d881712a49ea673b51d6902faeb5c5cff35d79b46d8b10f4be158d3d387a001?apiKey=377401e3604042c7b3deecb062253d04&&apiKey=377401e3604042c7b3deecb062253d04" class="object-contain self-stretch mt-1.5 w-full aspect-[1.47]" alt="Student photo" />
            <footer class="text-center text-white">Student ID</footer>
          </div>
          <div class="flex flex-col items-center text-xs max-w-[97px]">
            <header class="font-semibold text-white">Student Name</header>
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3d881712a49ea673b51d6902faeb5c5cff35d79b46d8b10f4be158d3d387a001?apiKey=377401e3604042c7b3deecb062253d04&&apiKey=377401e3604042c7b3deecb062253d04" class="object-contain self-stretch mt-1.5 w-full aspect-[1.47]" alt="Student photo" />
            <footer class="text-center text-white">Student ID</footer>
          </div>
          <div class="flex flex-col items-center text-xs max-w-[97px]">
            <header class="font-semibold text-white">Student Name</header>
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3d881712a49ea673b51d6902faeb5c5cff35d79b46d8b10f4be158d3d387a001?apiKey=377401e3604042c7b3deecb062253d04&&apiKey=377401e3604042c7b3deecb062253d04" class="object-contain self-stretch mt-1.5 w-full aspect-[1.47]" alt="Student photo" />
            <footer class="text-center text-white">Student ID</footer>
          </div>
          <div class="flex flex-col items-center text-xs max-w-[97px]">
            <header class="font-semibold text-white">Student Name</header>
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3d881712a49ea673b51d6902faeb5c5cff35d79b46d8b10f4be158d3d387a001?apiKey=377401e3604042c7b3deecb062253d04&&apiKey=377401e3604042c7b3deecb062253d04" class="object-contain self-stretch mt-1.5 w-full aspect-[1.47]" alt="Student photo" />
            <footer class="text-center text-white">Student ID</footer>
          </div>
      </div>
  </section>
  