<div class="h-full w-full">
    <div class="h-full w-full flex flex-col gap-4">
        <h1 class="font-bold text-xl">Courses</h1>
        <div class="w-full h-fit flex justify-between items-center">
            <div class="w-full h-fit flex flex-row gap-4">
                <button routerLink="/teacher/manage-courses/all-courses" routerLinkActive="active-route" class="w-28 py-1 rounded-md bg-primary-tw text-primary-text-tw">All courses</button>
                <button routerLink="/teacher/manage-courses/beginner" routerLinkActive="active-route" class="w-28 py-1 rounded-md bg-primary-tw text-primary-text-tw">Beginner</button>
                <button routerLink="/teacher/manage-courses/intermediate" routerLinkActive="active-route" class="w-28 py-1 rounded-md bg-primary-tw text-primary-text-tw">Intermediate</button>
                <button routerLink="/teacher/manage-courses/advanced" routerLinkActive="active-route" class="w-28 py-1 rounded-md bg-primary-tw text-primary-text-tw">Advanced</button>
            </div>
            <div class="flex justify-center items-center gap-4">
                <button class="w-28 py-1 rounded-md bg-primary-tw text-primary-text-tw flex justify-center items-center gap-2">
                    <iconify-icon icon="system-uicons:plus" width="25" height="25"></iconify-icon>
                    Course
                </button>
                <!-- //dorpdown here -->
                <select name="select" class="w-32 py-2 pl-3 pr-8 rounded-lg cursor-pointer bg-white text-gray-700 border
                 border-gray-300 shadow-sm focus:outline-none focus:ring-0 focus:border-primary-500 appearance-none
                  hover:bg-gray-50 transition-colors duration-150 ease-in-out">
                    <option value="" disabled selected>Sort by</option>
                    <option value="name">English</option>
                    <option value="date">French</option>
                    <option value="rating">Japanese</option>
                </select>
                
                
                
            </div>
        </div>
        <div class="w-full h-full overflow-hidden">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>