<div class="h-full w-full  z-50">
    <div (clickOutside)="closeModal()"
        class="flex flex-col ml-[25%] justify-center mx-auto items-center gap-8 shadow-lg w-full max-w-screen-lg 
        rounded-2xl h-fit py-8 p-4 bg-primary-tw relative">
        <iconify-icon (click)="closeModal()" class="absolute top-2 right-2 text-red-500 cursor-pointer" icon="carbon:close-filled" width="30" height="30"></iconify-icon>
        <div class="w-full ">
            <!-- form fields -->
            <form class="w-full h-fit flex flex-col gap-8 px-8 text-primary-text-tw">
                <div class="flex flex-col gap-y-8">
                    <div class="flex flex-col gap-1">
                        <label for="email" class="uppercase font-medium ml-1">Class name</label>
                        <input type="text" placeholder="Enter class name" class="bg-gray-100 px-4 border-2 border-black rounded-xl p-4 min-w-96 w-full">
                    </div>
                    <div class="flex flex-col gap-1">
                        <label for="email" class="uppercase font-medium ml-1">Subject</label>
                        <input type="text" placeholder="Enter subject title" class="bg-gray-100 px-4 border-2 border-black rounded-xl p-4 w-full">
                    </div>
                    <div class="flex flex-col gap-1">
                        <label for="email" class="uppercase font-medium ml-1">Schedule</label>
                        <input type="text" placeholder="Enter schedule" class="bg-gray-100 px-4 border-2 border-black rounded-xl p-4 w-full">
                    </div>
                </div>
                <div class="w-full justify-end flex">
                    <button type="submit" class="bg-primary-tw py-2 w-32  rounded-lg text-primary-text-tw outline-none
                    duration-300 uppercase hover:outline-2 hover:bg-none hover:outline-secondary-tw">add</button>
                </div>
            </form>
        </div>

    </div>
</div>